* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    background-color: #eeeeee;
    height: 80px;
    width: auto;
    align-items: center;
    justify-content: space-around;
    box-shadow: #ffddb7 0px 5px 15px,
        #f0f0f0 5px 10px 15px;
}

nav .button {
    font-size: 20px;
    outline: 0 !important;
    border: 0 !important;
    width: auto;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

nav .button a {
    text-decoration: none;
    color: black;
}

nav .button:hover {
    transform: translateY(-3px);
}

nav .icon {
    font-size: 20px;
}

.logo{
  height: 300px;
  width: 300px;
}

.logo img{
  width: 100%;
  height: 100%;
}
.container {
    margin: 100px;
    height: 250px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: #ffdb7f 0px 5px 15px,
        #f0f0f0 5px 10px 15px;
}
.container div:hover{
  transform: scale(1.1, 1.1);
}

.img-banner1 {
    display: flex;
    flex: 25%;
    flex-grow: 1;
    background-image: url("img/masculinoConjunto4.jpg");
    padding: 50px;
    background-size: cover;
    height: 100%;
    background-position: center;
}

.img-banner2 {
    display: flex;
    flex: 25%;
    flex-grow: 1;
    background-image: url("img/femininoCamiseta2.jpg");
    padding: 50px;
    height: 100%;
    background-size: cover;
    background-position: bottom;
}

.img-banner3 {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex: 25%;
    padding: 50px;
    height: 100%;
    background-image: url("img/infantilCamiseta4.jpg");
    background-size: cover;
    background-position: bottom;
}

.img-banner4 {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex: 25%;
    padding: 50px;
    background-size: cover;
    background-image: url("img/femininoConjunto4.jpg");
    background-position: center;
}

/*-------------------*/
.container-pai {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-gap: 20px;
    border-top: 1px solid black;
}

.white-box {
    background-color: white;
    box-shadow: 6px 6px 22px 2px black;
}
.white-box:hover{
    transform: scale(1.1, 1.1);
}

.container-pai .white-box {
    display: flex;
    flex-direction: column;
    margin: 40px;
    max-width: 100%;
}

.white-box img{
    width: 100%;
    height: 75%;
}

.text-box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content:space-between
}

.text-box h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-box span {
  font-size: 1.2rem;
  color: #464646;
}


.text-box .button {
    --width: 100%;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .text-box .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .text-box .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .text-box .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text-box .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text-box .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text-box .text {
    top: 0
  }
  
  .text-box .text,.icon {
    transition: top 0.5s;
  }
  
  .text-box .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .text-box .button:hover {
    background: #222;
  }
  
  .text-box .button:hover .text {
    top: -100%;
  }
  
  .text-box .button:hover .icon {
    top: 0;
  }
  
  .text-box .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .text-box .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .text-box .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  } 




.white-box .sell {
    background-color: #E2401F;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    z-index: 5px;
}


.filtros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
  width: 100%;
  box-shadow: #fdde8e 0px 5px 15px,
  #f0f0f0 5px 10px 15px;
}

.filtros div{
  flex-grow: 1;
  height: 100%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}

.filtros .masculino {
  background-image: url("img/masculinoCamiseta1.jpg");
  z-index: -2px;
  background-position: bottom;
  
}
.filtros .feminino {
  background-image: url("img/femininoCamiseta2.jpg");
  z-index: -2px;
  background-position: bottom;
  
}
.filtros .infantil {
  background-image: url("img/infantilCamisa2.jpg");
  z-index: -2px;
  background-position: center;
  
}

.filtros a {
  background-color: #fdde8e;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 30px;
  text-align: center;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  
}


.filtros a:hover{
  padding: 35px;
  background-color:  white;
  
}

.filtros .filtro p.tip {
  font-size: 1em;
  font-weight: 700;
}

.filtros .filtro:hover {
  transform: scale(1.1, 1.1);
}

.filtros:hover > .filtro:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.imagens-compra{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: auto;
  margin: 0 auto;
  margin-top: 12%;
  box-shadow: #fdde8e 0px 5px 15px,
  #f0f0f0 5px 10px 15px;
}
.imagens-compra img{ 
  max-width: 100%;
  display: block;
  box-shadow: #fdde8e 0px 5px 15px,
  #f0f0f0 5px 10px 15px;
  margin-left: 50%;
}

.inteira {
  grid-column: 1;
  grid-row: 1 / 4;
  z-index: -5px;
}

.menores {
  height: 150px;
}

.imagens-compra img:hover {
  transform: scale(1.1, 1.1);
}

.imagens-compra:hover > .menores:not(:hover) {
  transform: scale(0.9, 0.9);
}

.formulario{
  grid-column: 3;
  grid-row: 1 / 4;
}



@media (max-width: 600px) {
    .container-pai {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .container-pai img {
        display: block;
    }

    .imagens-compra{
      grid-template-columns: repeat(1, 1fr);
    }
    .imagens-compra img{
      display: grid;
      margin-left: 0; 
    }
    .formulario{ 
      display: block;
    }
}

.formulario form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.formulario label {
  margin-bottom: 5px;
  color: #666;
}

.formulario select,
.formulario input[type="text"],
.formulario input[type="number"] {
  width: 100px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comprar {
  width: 100%;
  height: 30px;
}
.comprar .button {
  --width: 100%;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  font-family: "Arial";
  transition: background 0.3s;
}

.comprar .button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.comprar .button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.comprar .button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.comprar .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comprar .button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.comprar .text {
  top: 0
}

.comprar .text,.icon {
  transition: top 0.5s;
}

.comprar .icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.comprar .button:hover {
  background: #222;
}

.comprar .button:hover .text {
  top: -100%;
}

.comprar .button:hover .icon {
  top: 0;
}

.comprar .button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.comprar .button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.comprar .button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
} 

.produto {
  border: 1px solid black;
}